{% extends 'base.twig' %}
{% block head %}
  <!-- Theme JS files -->
  <script type="text/javascript" src="{{ base_url() }}/assets/js/pages/subscribers_manager.js"></script>
  <script type="text/javascript" src="{{ base_url() }}/assets/js/pages/edit_subscriber_validate.js"></script>
  <!-- /theme JS files -->
{% endblock %}

{% block content_area %}
        <!-- Content area -->
  <div class="content">

    <!-- Table panel -->
    <div class="panel panel-flat">
      <div class="panel-heading">
        <h5 class="panel-title">Danh sách thuê bao</h5>
        <div class="heading-elements">
          <ul class="icons-list">
            <li><a data-action="collapse"></a></li>
            <li><a data-action="reload"></a></li>
          </ul>
        </div>
      </div>

      <div class="panel-body">
        <p class="content-group">Danh sách thuê bao gồm họ tên, số hợp đồng, gói cước và địa chỉ</p>
      </div>

      <!-- <div class="table-responsive"> -->
        <table class="table datatable-basic table-hover">
          <thead>
            <tr>
              <th>Số HĐ</th>
              <th>Họ tên</th>
              <th>Gói dịch vụ</th>
              <th>Địa chỉ</th>
              <th class="text-center">Hành động</th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
              <tr>
                <td>{{ customer.getSubcribersNum() }}</td>
                <td>{{ customer.getName() }}</td>
                <td>{{ plans[customer.getPlanId()] }}</td>
                <td>{{ customer.getAddress() }}</td>
                <td class="text-center">
                  <ul class="icons-list">
                    <li>
                      <a href="#" data-toggle="modal" data-target="#edit_subscriber">
                        <i class="icon-file-eye"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="confirm">
                        <i class="icon-cross2"></i>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      <!-- </div> -->
    </div>

    <div id="edit_subscriber" class="modal fade in">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h5 class="modal-title">Sửa thông tin thuê bao</h5>
          </div>

          <form class="form-horizontal" action="index.html" method="post">
            <div class="modal-body">
              <fieldset class="content-group">
                <legend class="text-bold">Thông tin cá nhân</legend>
                <div class="form-group">
                  <label class="control-label col-lg-2">Họ tên:</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-user-tie"></i>
                      </span>
                      <input name="fullName" class="form-control" placeholder="Họ tên đầy đủ của chủ thuê bao" type="text"></input>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-2">Địa chỉ:</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-home5"></i>
                      </span>
                      <input name="address" class="form-control" placeholder="Địa chỉ" type="text"></input>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-2">Số CMND:</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-address-book"></i>
                      </span>
                      <input name="passport" class="form-control" placeholder="Số chứng minh nhân dân" type="text"></input>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-2">Ngày cấp CMND:</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-calendar22"></i>
                      </span>
                      <input name="passportIssueDate" id="passportIssueDate" class="form-control" placeholder="Ngày cấp chứng minh nhân dân" type="text"></input>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-2">Nơi cấp:</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-location3"></i>
                      </span>
                      <input name="passportIssueAddress" class="form-control" placeholder="Nơi cấp chứng minh nhân dân" type="text"></input>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-2">Email:</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-mention"></i>
                      </span>
                      <input name="email" class="form-control" placeholder="Email" type="text"></input>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-2">Số điện thoại:</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="glyphicon glyphicon-phone"></i>
                      </span>
                      <input name="phoneNumber" class="form-control" placeholder="Số điện thoại" type="text"></input>
                    </div>
                  </div>
                </div>

              </fieldset>

              <fieldset class="content-group">
                <legend class="text-bold">Thông tin dịch vụ và tài khoản</legend>
                <div class="form-group">
                  <label class="control-label col-lg-2">Số hợp đồng:</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-menu6"></i>
                      </span>
                      <input name="contractCode" class="form-control" placeholder="Mã số hợp đồng" type="text"></input>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-2">Gói dịch vụ:</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-package"></i>
                      </span>
                      <select name="planSelect" class="bootstrap-select bs-select-hidden" data-width="100%">
                        {% for planID, planName in plans %}
                          <option value="{{ planID }}">{{ planName }}</option>
                        {% endfor %}
                      </select>
                    </div>

                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-2">Ngày đăng kí:</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-calendar22"></i>
                      </span>
                      <input name="registerDate" id="registerDate" class="form-control" placeholder="Ngày đăng kí dịch vụ" type="text"></input>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-2">Username:</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-user"></i>
                      </span>
                      <input name="username" class="form-control" placeholder="Username dùng để đăng nhập xem thông tin" type="text"></input>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-2">Old password:</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-lock2"></i>
                      </span>
                      <input name="oldPassword" class="form-control" placeholder="Nhập mật khẩu cũ" type="password"></input>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-2">Password:</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-lock2"></i>
                      </span>
                      <input name="password" id="password" class="form-control" placeholder="Mật khẩu" type="password"></input>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-lg-2">Repeat password:</label>
                  <div class="col-lg-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="icon-lock2"></i>
                      </span>
                      <input name="repeatPassword" class="form-control" placeholder="Nhập lại mật khẩu" type="password"></input>
                    </div>
                  </div>
                </div>
              </fieldset>

              <div class="text-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  Huỷ
                  <i class="icon-cancel-circle2 position-right"></i>
                </button>
                <button class="btn bg-teal-400" type="submit">
                  Sửa
                  <i class="icon-arrow-right14 position-right"></i>
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer text-muted">
      &copy; 2016. Developed by Luu Dinh Hai Chau & Tran Viet Ha - Theme: Limitless Web App by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
    </div>
    <!-- /footer -->

  </div>
  <!-- /content area -->
{% endblock %}